[submodule "sass/main/vendors/normalize.css"]
	path = main/vendors/normalize.css
	url = https://github.com/necolas/normalize.css
[submodule "sass/main/vendors/symbiosis-css"]
	path = main/vendors/symbiosis-css
	url = https://github.com/Pixelmouse/symbiosis-css
